<div class="container" style="margin-bottom: 125px;">
    <div class="">
      <table class="table text-center">
         <thead>
           <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Dish Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
           </tr>
         </thead>
         <tbody >
            <tr *ngFor="let item of items ;index as i;" >
                <td scope="row">{{i+1}}</td>
                <td scope="row">{{item.item_id.item_name}}</td>
                <td scope="row">{{item.item_quantity}}</td>
                <td scope="row">{{item.item_quantity*item.item_id.item_price}}</td>
            </tr>
         </tbody>
         <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>total</td>
            </tr>
          </tfoot>
       </table>
  
     </div> 
  </div>