<div class="">
  <div class="text-white nav-bar">
    <nav class="navbar navbar-expand-md navbar-dark pt-2 pb-3 mr-5">
      <a class="navbar-brand ml-5 mr-5 text-white" routerLink=""><b>Hotel Atharva</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item  ml-2">
            <a class="nav-link text-white" routerLink="/menu">Menu</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link text-white" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link text-white" routerLink="/my-order">My Order</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link text-white" routerLink="/admin/admin-orders">Orders</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-2 mr-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle justify-content-end text-white" id="dropdown04" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Options</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" routerLink="/admin-login">Admin Login</a>
              <a class="dropdown-item" routerLink="/feedback">Feedback</a>
              <a class="dropdown-item" routerLink="admin/completed-orders">Completed Orders</a>
              <a class="dropdown-item" routerLink="/admin/manage-menu">Manage Menu</a>
              <a class="dropdown-item" routerLink="/admin/feedbacks">Feedbacks</a>
              <a class="dropdown-item" routerLink="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>