<div class="container" style="margin-bottom: 215px;">
  <div class=" table-responsive">
    <table class="table mt-5 text-center">
      <thead>
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Dish</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of orders; index as i">
          <td> {{i+1}}</td>
          <td> {{cart.item_id.item_name}}</td>
          <td> {{cart.item_quantity}}</td>
          <td> {{cart.item_id.item_price * cart.item_quantity}}</td>
          <!-- <div class="hidden" >{{this.total = this.total + cart.item_id.item_price}}</div> -->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>total</td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>