  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Hotel Atharva</h6>
          <p class="text-justify">
            Jalna Industrial Area MIDC, Jalna, 
            Maharashtra 431213 Jalna India 431213 <br> 
            Celebrated as one of the city's best is, HOTEL ATHARVA in Jalna.
            The hotel is strategically located in Aurangabad Road. 
            Having been established in the year 2010, this hospitality destination
            has grown to become the ideal place for travelers and those on business
            to feel at home when in the city.
          </p>
        </div>

        <div class="offset-md-3 offsetxs-3 col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/menu">Menu</a></li>
            <li><a routerLink="/cart">Cart</a></li>
            <li><a routerLink="/my-order">My Order</a></li>
            <li><a routerLink="/feedback">Feedback</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">COMPANY NAME</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>